.btn_carousel{
    height:10px;
    width:10px;
    border:solid;
    border-radius: 50%;
    background: grey;
    border-color: white;
}
.btn_previous{
    height:40px;
    width:40px;
    border:solid;
    border-radius: 40%;
    background: white;
    border-color: white;
    margin-top: 250px;
    margin-left: 100px;
}
.btn_next{
     height:40px;
    width:40px;
    border:solid;
    border-radius: 40%;
    background: white;
    border-color: white;
    margin-top: 250px;
    margin-left: 100px;
}
.categories{
    display:flex;
    justify-content: center;
    padding-top: 30px;
}
.card_style{
    justify-content: center;
    border:none;
}
.style{
    height:100px;
    width:100px;
    border:none;
}
.add-to-cart-btn{
    color:#fff ;
    background-color: rgba(218,7,92);
    border-color:rgba(218,7,92);
    border-radius: 5px;
}
.img_6{
    height:70px;
    width:70px;
}
.style:hover {
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  opacity:0.5;
}
.rounded{
    width:400px;
}
