.button-carousel{
    height:5px;
    width:5px;
    border:solid;
    border-radius:20%;
    background: grey;
    border-color: white;
}
.btn_previous{
    height:40px;
    width:40px;
    border:solid;
    border-radius: 40%;
    background: white;
    border-color: white;
    margin-top: 200px;
    margin-left: 100px;
}
.btn_next{
     height:40px;
    width:40px;
    border:solid;
    border-radius: 40%;
    background: white;
    border-color: white;
    margin-top: 200px;
    margin-left: 100px;
}
.categories{
    display:flex;
    justify-content: center;
    padding-top: 20px;
}
.card_style{
    justify-content: center;
    border:none;
}
.style{
    height:80px;
    width:80px;
    border:none;
}
.add-to-cart-btn{
    color:#fff ;
    background-color: rgba(218,7,92);
    border-color:rgba(218,7,92);
    border-radius: 5px;
}
.img_6{
    height:70px;
    width:70px;
}
.style:hover {
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  opacity:0.5;
}
.rounded{
    width:400px;
}
 .masala_cat{
width:60px;
 }
 .mukhwas{
    width:82px;
 }
 .add-to-cart-btn:hover{
     background-color: rgb(224, 143, 176);
     border-color:rgb(224, 143, 176) ;
 }