.form-control{
    background-color:rgb(253, 219, 238) ;
    width:400px;height:50px;
}
.btn{
    width: 400px;
     height: 50px;
     background-color:rgb(213, 7, 69) ;
     color:white
}
.credential{
text-decoration: none;
}